openai
playwright==1.39.0
watchdog==4.0.2
python-dotenv==1.0.1
pyparsing==3.1.2
litellm==1.42.1
Pillow>=10.1
beautifulsoup4>=4.12
fastapi
uvicorn
chromadb==0.5.20
llama-index-core==0.12.2
llama-index-vector-stores-chroma==0.4.0
llama-index-embeddings-openai==0.3.1
llama-index-embeddings-huggingface==0.4.0
deepgram-sdk==2.*
typer