playwright
undetected-playwright
openai
watchdog
python-dotenv
lavague
selenium==4.22.0
webdriver-manager==4.0.1
gymnasium==0.29.1
browsergym==0.4.0
pyparsing==3.1.2
python-dotenv
browsergym-workarena==0.3.1