undetected-playwright
openai
watchdog
python-dotenv
selenium==4.22.0
webdriver-manager==4.0.1
gymnasium==0.29.1
browsergym==0.4.0
pyparsing==3.1.2
browsergym-workarena==0.3.1
litellm==1.42.1
groq
flask
flask-cors
pytablewriter
elevenlabs==1.6.1
